## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import weather_api_key

# Configure gmaps API key
gmaps.configure(api_key=weather_api_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.tail(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
551,551,Zomin,UZ,39.96,68.40,39.04,28,2,5.17,clear sky
552,552,Lagoa,PT,39.05,-27.98,58.73,51,100,8.68,overcast clouds
553,553,Levelland,US,33.59,-102.38,63.45,19,100,14.00,overcast clouds
554,554,Marsa Matruh,EG,31.35,27.25,56.93,64,13,17.16,light rain
555,555,Lagdo,CM,9.05,13.73,75.27,25,82,5.50,broken clouds
556,556,La Palma,US,33.85,-118.05,70.90,43,1,4.00,clear sky
557,557,Nishihara,JP,26.18,127.76,60.08,63,90,18.41,overcast clouds
558,558,Muravlenko,RU,63.79,74.52,-26.10,99,58,10.65,broken clouds
559,559,Grakhovo,RU,56.05,51.97,29.16,97,98,2.77,overcast clouds
560,560,Yuksekova,TR,37.57,44.29,27.23,98,98,3.80,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 60
What is your desired maximum temperature for your trip? 85

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lompoc,US,34.64,-120.46,65.57,64,1,6.91,clear sky
5,5,Hobyo,SO,5.35,48.53,78.31,82,98,19.44,overcast clouds
6,6,Codrington,AU,-38.27,141.97,66.18,77,38,16.17,scattered clouds
8,8,Ribeira Do Pombal,BR,-10.83,-38.54,81.46,63,64,11.12,broken clouds
10,10,Hualmay,PE,-11.10,-77.61,71.56,76,22,12.84,few clouds
...,...,...,...,...,...,...,...,...,...,...
550,550,Camocim,BR,-2.90,-40.84,81.48,77,5,17.27,clear sky
553,553,Levelland,US,33.59,-102.38,63.45,19,100,14.00,overcast clouds
555,555,Lagdo,CM,9.05,13.73,75.27,25,82,5.50,broken clouds
556,556,La Palma,US,33.85,-118.05,70.90,43,1,4.00,clear sky
557,557,Nishihara,JP,26.18,127.76,60.08,63,90,18.41,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                278
City                   278
Country                275
Lat                    278
Lng                    278
Max Temp               278
Humidity               278
Cloudiness             278
Wind Speed             278
Current Description    278
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lompoc,US,34.64,-120.46,65.57,64,1,6.91,clear sky
5,5,Hobyo,SO,5.35,48.53,78.31,82,98,19.44,overcast clouds
6,6,Codrington,AU,-38.27,141.97,66.18,77,38,16.17,scattered clouds
8,8,Ribeira Do Pombal,BR,-10.83,-38.54,81.46,63,64,11.12,broken clouds
10,10,Hualmay,PE,-11.10,-77.61,71.56,76,22,12.84,few clouds
...,...,...,...,...,...,...,...,...,...,...
550,550,Camocim,BR,-2.90,-40.84,81.48,77,5,17.27,clear sky
553,553,Levelland,US,33.59,-102.38,63.45,19,100,14.00,overcast clouds
555,555,Lagdo,CM,9.05,13.73,75.27,25,82,5.50,broken clouds
556,556,La Palma,US,33.85,-118.05,70.90,43,1,4.00,clear sky
557,557,Nishihara,JP,26.18,127.76,60.08,63,90,18.41,overcast clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lompoc,US,65.57,clear sky,34.64,-120.46,
5,Hobyo,SO,78.31,overcast clouds,5.35,48.53,
6,Codrington,AU,66.18,scattered clouds,-38.27,141.97,
8,Ribeira Do Pombal,BR,81.46,broken clouds,-10.83,-38.54,
10,Hualmay,PE,71.56,few clouds,-11.10,-77.61,
12,Busselton,AU,60.08,overcast clouds,-33.65,115.33,
18,Biu,NG,67.42,few clouds,10.61,12.19,
19,Arraial Do Cabo,BR,75.16,broken clouds,-22.97,-42.03,
20,Kouango,CF,80.06,broken clouds,4.99,19.96,
21,Rikitea,PF,75.76,overcast clouds,-23.12,-134.97,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": weather_api_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.notnull().sum()

# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lompoc,US,65.57,clear sky,34.64,-120.46,"Holiday Inn Express Lompoc, an IHG Hotel"
5,Hobyo,SO,78.31,overcast clouds,5.35,48.53,Halane Hotel and Restaurent
6,Codrington,AU,66.18,scattered clouds,-38.27,141.97,Codrington Gardens Bed And Breakfast
8,Ribeira Do Pombal,BR,81.46,broken clouds,-10.83,-38.54,Pousada Central
10,Hualmay,PE,71.56,few clouds,-11.10,-77.61,Hotel Restaurant Turístico Casablanca
...,...,...,...,...,...,...,...
550,Camocim,BR,81.48,clear sky,-2.90,-40.84,Ilha Praia Hotel
553,Levelland,US,63.45,overcast clouds,33.59,-102.38,"Holiday Inn Express & Suites Levelland, an IHG..."
555,Lagdo,CM,75.27,broken clouds,9.05,13.73,
556,La Palma,US,70.90,clear sky,33.85,-118.05,"Levar & Ryan Properties, LLC."
557,Nishihara,JP,60.08,overcast clouds,26.18,127.76,Minshuku Agaihama

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))